.header {
    height: 100vh;
    width: 100vw;
    padding: 0rem 2rem;
    overflow: hidden;

}

.header__grid {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
}



.header__grid__item:not(:last-child) {
    border-right: 1px solid rgb(155, 154, 151);
}

.header__grid__item--1 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    position: relative;

}

.moto {
    grid-column: 1/-1;
    grid-row: 2/3;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.moto__h3 {
    writing-mode: vertical-rl;
    text-orientation: upright;
    text-transform: uppercase;
    letter-spacing: .8rem;
    border-right: .5px solid var(--gold);
    font-size: 1.7rem;
}

.moto__h3__link {
    text-decoration: none;
    font-size: inherit;
    font-weight: 600;
    color: var(--grey);
}

.moto__h4 {
    font-size: 1.6rem;
    letter-spacing: .3rem;
    padding-right: 3rem;
    padding-left: 2rem;
    align-self: center;
    color: var(--l-grey);
}

.year {
    grid-column: 1/3;
    grid-row: 3/4;
    disply: flex;
    align-self: flex-end;
    justify-self: flex-end;
    padding: 0 4rem 2rem 0;
    font-size: 1.8rem;
    letter-spacing: .5rem;
    display: flex;
    flex-wrap: nowrap;
}

.header__grid__item--2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 7rem;
    position: relative;


    &line1 {
        position: absolute;
        width: 35%;
        height: 2px;
        background-color: var(--grey);
        top: 20%;
        left: 0;
    }
}

.line1 {
    position: absolute;
    width: 35%;
    height: 2px;
    background-color: var(--grey);
    bottom: 20%;
    left: 20%;
}

.line2 {
    position: absolute;
    width: 35%;
    height: 2px;
    background-color: var(--grey);
    top: 35%;
    right: 10%;
}

.gold__line {
    position: fixed;
    width: 2px;
    height: 100%;
    background-color: var(--gold);
    left: 50%;


}

.img__wrapper {
    width: 80%;
    border-top: 1rem solid var(--gold);
    border-bottom: 1rem solid var(--gold);
    padding: 4rem 0 7rem 0;
    position: relative;
    background-color: #fff;


}

.img__wrapper img {
    width: 100%;
    height: auto;
}

.img__wrapper__title {
    width: 40%;
    position: absolute;
    right: 0;
    top: 0;
    transform: translate(60%, -51%);
    z-index: 10;
}

.img__wrapper__title h1 {
    font-family: Charm;
    text-align: center;
    font-size: 7.2rem;
    line-height: 1;
    letter-spacing: 1rem;

}

.img__wrapper__title h1 span {
    display: block;
    text-align: right;
}

.icon-plus {
    width: 2rem;
    height: 2rem;

    position: absolute;
    left: 10%;
    bottom: 3.5%;
}

.leistung {

    text-align: right;
    width: 40%;
    font-size: 1.7rem;
    color: var(--l-grey);
    padding: 2rem 0;
    position: relative;
    display: inline-block;
    margin-left: 8rem;
}

.header__grid__item--3 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
}

.unternehmen {
    writing-mode: vertical-rl;
    text-orientation: upright;
    text-transform: uppercase;
    letter-spacing: 1rem;
    font-size: 1.5rem;
    grid-column: 1/2;
    grid-row: 3/-1;
    display: flex;
    align-items: center;
    justify-content: center;
    border-right: .5px solid var(--gold);
}

.user__icon {
    width: 2.5rem;
    height: 2.5rem;
    fill: var(--grey);
}

.icons {
    grid-column: 3/-1;
    grid-row: 2/-1;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;

    &__item {
        list-style: none;
        padding: 3rem 0;
    }

    &__item__a {
        text-decoration: none;
    }
}

.moto__h3:hover a,
.unternehmen:hover a {

    color: var(--smoke);
    position: relative;
    z-index: 4;
    transition: color .5s ease;

}

.moto__h3::before,
.unternehmen::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0;
    background-color: var(--gold);
    transform: scaleY(0);
    transition: transform .4s, width .5s cubic-bezier(1, 0, 0, 1) .2s, background-color .2s;

}



.moto__h3:hover::before,
.unternehmen:hover::before {
    width: 100%;
    transform: scaleY(1);

}

.icons__item__phone:hover {
    padding-right: 10rem;
    transition: all .8s ease-in-out;
}

.icons__item__phone:hover a svg {
    fill: var(--smoke);
    position: relative;
    z-index: 7;
    transition: all .4s ease-in;
    margin-right: .3rem;
}

.icons__item__phone::before {
    content: "01 ** **";
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 0;
    background-color: var(--gold);
    transform: scaleY(0);
    transition: transform .4s, width .5s cubic-bezier(1, 0, 0, 1) .2s, background-color .2s;
    color: var(--smoke);
    font-size: 1.6rem;

}

.icons__item__phone:hover::before {
    width: 100%;
    transform: scaleY(1);
    display: flex;
    align-items: center;
    justify-content: center;

}